################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/svs-recipes/copilot-chat/325e9a80/sessions
/.vs/svs-recipes/CopilotIndices/0.2.1653.9816
/.vs/svs-recipes/FileContentIndex
/.vs
